<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/dhawar1/IdeaProjects/SetuTest/target/test-classes/TC001_GET_Request.class"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/dhawar1/IdeaProjects/SetuTest/target/test-classes/TC002_POST_Request.class"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/dhawar1/IdeaProjects/SetuTest/target/test-classes/TC003_PUT_Request.class"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/dhawar1/IdeaProjects/SetuTest/target/test-classes/TC004_DELETE_Request.class"><classes/></test></suite>